﻿body {
    font-family: Calibri;
    
}

#logo {
    margin-top: -20px;
}

.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 15px 10px;
}

    .header a {
        float: left;
        color: black;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 18px;
        line-height: 25px;
        border-radius: 4px;
    }

        .header a.logo {
            font-size: 25px;
            font-weight: bold;
        }

.header-right {
    float: right;
}

.footer {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    margin-top: 25px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
    margin-top: 10px;
}

li {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


    li:hover {
        background-color: #d70000;
        color: white;
    }

a {
    text-decoration: none;
}

    a:visited {
        color: black;
    }

    p{
        width: 375px;
        text-align: justify;
    
    }

    h4:hover{
        color: #d70000;
    }
